<!DOCTYPE html>
<html land='en'>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Title</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>

  


<ul>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Customers</a>
    <div class="dropdown-content">
        <a href="/invoicecustomer">New invoice</a>
        <a href="listinvoices">List of invoices</a>
      <a href="/customers">New customer</a>
      <a href="/listcustomers">List of cutomers</a>
    </div>
  </li>
  <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Orders</a>
    <div class="dropdown-content">
      <a href="/order">New order</a>
      <a href="/listorders">List of orders</a>
    </div>
  </li>
      <li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Suppliers</a>
    <div class="dropdown-content">
      <a href="/invoicesupplier">New supplier invoice</a>
        <a href="/listsinvoices">List of supplier's invoices</a>
      <a href="/supplier">New supplier</a>
      <a href="/listsuppliers">List of suppliers</a>
    </div>
  </li>
<li style="float:right"><a href="#">Logout</a></li>
</ul>

<div style="color: red;background: wheat">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>

  {% endif %}
{% endwith %}
</div>





	{% block content %}



  {% endblock %}

	{% block main %}
	{% endblock %}
</body>
</html>